ul, p {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
}
.dark-bgc {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
}
.flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
.burger {
    width: 50px;
    height: 100%;
    cursor: pointer;
}
.bord {
    display: block;
    margin: 4px;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 1s ease;
}
.burger:hover > .b1 {
    transform: translateX(20px);
}
.burger:hover > .b2 {
    transform: translateX(10px);
}

.b1 {
    width: 20px;
}
.b2 {
    width: 30px;
}
.b3 {
    width: 40px;
    top: 10px;
}
.menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: darkblue;
    border-radius: 25px;
    transition: all .5s ease;
}
.cancel {
    position: absolute;
    top: -10px;
    right: 5px;
    cursor: pointer;
    color: #fff;
}
.top-line {
    padding: 15px 10px;
    background-color: rgb(0, 89, 255);
    border-radius: 30px;
}

.menu li {
    padding: 15px 10px;
}

@media screen and (min-width: 500px) {
    .burger {
        display: none;
    }
    .top-line {
        padding: 0 10px;
    }
    .menu {
        position: static;
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        background-color: rgb(0, 89, 255);
    }
    .menu li {
        padding: 15px 10px;
    }
    .cancel {
        display: none;
    }
}